<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> <%- title %> </title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
  />

</head>


<body>

  <div class="header bg-primary">
    <div class="container">

      <a href="index.html">
        <img src="./assets/images/logo-white.png" alt="logo">
      </a>
      <nav>
        <ul>
          <li>
            <a href="#">系列鏡框</a>
          </li>
          <li>
            <a href="store.html">門市據點</a>
          </li>
          <li>
            <a href="#">部落格</a>
          </li>
          <li>
            <a href="faq.html">常見問題</a>
          </li>
        </ul>
      </nav>

      <a href="#" class="ham-icon">
        <i class="fa-solid fa-bars fa-2x"></i>
      </a>

    </div>

    <div class="dropdown">
      <nav>
        <ul>
          <li>
            <a href="#">系列鏡框</a>
          </li>
          <li>
            <a href="store.html">門市據點</a>
          </li>
          <li>
            <a href="#">部落格</a>
          </li>
          <li>
            <a href="faq.html">常見問題</a>
          </li>
        </ul>
      </nav>

    </div>

  </div>


  <%- contents %>

    <div class="footer bg-primary">
      <div class="container">
        <div class="link">

          <ul class="linkText">
            <li>
              <a href="index.html">首頁</a>
            </li>
            <li>
              <a href="#">系列鏡框</a>
            </li>
            <li>
              <a href="store.html">門市據點</a>
            </li>
            <li>
              <a href="#">部落格</a>
            </li>
            <li>
              <a href="faq.html">常見問題</a>
            </li>
          </ul>




          <ul class="icon">
            <li>
              <a href="#">
                <img src="/assets/images/ic-social-fb.png" alt="連結臉書">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="/assets/images/ic_social_ig.png" alt=連結IG "">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="/assets/images/ic_social_line.png" alt="連結line">
              </a>
            </li>
          </ul>
        </div>


        <ul class="contact">
          <li>
            <span class="material-symbols-outlined white font-size-48">call</span>
            <a href="tel:+886-800000000" class="white">0800-000-000</a>
          </li>
          <li>
            <span class="material-symbols-outlined white font-size-48">mail</span>
            <a href="mailto:glasses@business.com" class="white">glasses@business.com</a>
          </li>
        </ul>

        <div class="copyright white">
          <p>Copyright © 2020 Glasses.All rights reserved.</p>
          <ul>
            <li>
              <a href="#">隱私權政策</a>
            </li>
            <li>
              <a href="#">服務條款</a>
            </li>
          </ul>
        </div>


      </div>
    </div>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>