.main{
    margin: 96px 0 80px 0;
        @include pad(){
            margin-top: 80px;
        }
        @include iphone(){
            margin: 40px 0 64px 0;
        }
    h1{
        padding-left: 8px;
        border-left: 8px solid #AA0601;
        @include iphone(){
            font-size: 24px;
        }
    }
    h2{
        font-size: 24px;
        font-weight: bold;
    }
    h3{
        font-size: 20px;
        font-weight: bold;
    }
}
