.store{
    padding-top: 96px;
    padding-bottom: 80px;
    @include iphone(){
        padding-top: 40px;
        padding-bottom: 40px;
        h1{
            padding-left: 8px;
            border-left: 8px solid #AA0601;
            @include iphone(){
                font-size: 24px;
            }
        }
    }
    .area{
        display: flex;
        align-items: center;
        @include iphone(){
            margin-bottom: 24px;
        }
        h2{
            @include custom(){
                font-size: 16px;
            }
        }
        select{
            margin-left: 16px;
            width: 304px;
            height: 38px;
            font-size: 20px;
            @include custom(){
                width: 276px;
                margin-left: 8px;
            }
        }
    }
    ul{ 
        margin: 0 -12px;
        display: flex;
        flex-wrap: wrap;
        li{
            padding: 0 12px 48px 12px;
            span{
                margin-right: 8px;
            }
            max-width: 33.33%;
            @include pad(){
                max-width: 50%;
                padding-bottom: 24px;
            }
            @include custom(){
                max-width: 100%;
            }
            h3{
                padding: 8px 0px 8px 24px;
                border: 1px solid #00000020;
            }
            .information{
                padding: 16px 24px;
                border: 1px solid #00000020;
            }
        }
    }

}

  
   
    
